@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #46614d;
    font-family: 'Monserrat', sans-serif;
    font-size: 60%;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}
.text-center {
    font-size: 60%;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}

.card {
    border: none;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    margin-top: 50px;
}
